{% extends 'base.html.twig' %}

{% block title %}
    QIK OBJECT
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}



    <!-- REVOLUTION SLIDER -->
    <div id="slider">
        <div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="POLO Homepage" style="background-color:transparent;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1 fullscreen mode -->
            <div id="rev_slider_30_1" style="display:none;" data-version="5.1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-130" data-transition="notransition" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ asset('bundles/framework/images/slider/sky.jpg') }}" data-rotate="0" data-saveperformance="off" data-title="WORLD QIK OBJECTS" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/framework/images/dummy.png') }}" alt="" width="1920" height="1080" data-lazyload="{{ asset('bundles/framework/images/slider/sky.jpg') }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-130-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-54','0','-90','-92']" data-fontsize="['70','55','40','45']" data-lineheight="['70','70','70','50']" data-width="['none','none','none','462']" data-height="['none','none','none','124']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;text-align:center;">BIENVENUE DANS LE MONDE DE QIK OBJETS




                            <div class="row">
                                <!-- LAYER NR. 4 -->
                                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-6" id="slide-130-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-3']" data-y="['top','top','top','top']" data-voffset="['500','476','476','408']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1290;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2340" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; "><a href="{{ path('objet_newperdue') }}" class="button rounded"><span><h3>J'ai perdue un objet</h3></span></a>
                                </div>

                                <div class="col-md-2 col-sm-12 col-lg-2 col-xs-2"  id="slide-130-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-3']" data-y="['top','top','top','top']" data-voffset="['500','476','476','408']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1290;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2340" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;"><a href="{{ path('objet_newtrouver') }}" class="button rounded"><span><h3>J'ai trouver un objet</h3></span></a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-125" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="{{ asset('bundles/framework/images/slider/pattern.png') }}" data-rotate="0" data-saveperformance="off" data-title="100+ LAYOUTS" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('bundles/framework/images/dummy.png') }}" alt="" width="1920" height="1080" data-lazyload="{{ asset('bundles/framework/images/slider/pattern.png') }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-130-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','-1','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-54','0','-90','-92']" data-fontsize="['70','55','40','45']" data-lineheight="['70','70','70','50']" data-width="['none','none','none','462']" data-height="['none','none','none','124']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;text-align:center;">BIENVENUE DANS LE MONDE DE QIK OBJETS




                            <div class="row">
                                <!-- LAYER NR. 4 -->
                                <div class="col-md-6 col-sm-12 col-lg-6 col-xs-6" id="slide-130-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-3']" data-y="['top','top','top','top']" data-voffset="['500','476','476','408']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1290;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2340" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; "><a href="{{ path('objet_newperdue') }}" class="button rounded"><span><h3>J'ai perdue un objet</h3></span></a>
                                </div>

                                <div class="col-md-2 col-sm-12 col-lg-2 col-xs-2"  id="slide-130-layer-12" data-x="['center','center','center','center']" data-hoffset="['0','0','0','-3']" data-y="['top','top','top','top']" data-voffset="['500','476','476','408']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1290;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2340" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;"><a href="{{ path('objet_newtrouver') }}" class="button rounded"><span><h3>J'ai trouver un objet</h3></span></a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                </ul>
                <div class="tp-static-layers">
                </div>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!-- END REVOLUTION SLIDER -->




    <!-- COUNTERS -->
    <section class="parallax text-light p-t-150 p-b-150 background-overlay"  data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-mobile"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="24" data-from="600" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Smartphones</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-circle"></i></div>
                        <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="30" data-from="100" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Bracelets</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-key"></i></div>
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="15" data-from="50" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>clées</p>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="text-center">
                        <div class="icon"><i class="fa fa-3x fa-bicycle"></i></div>
                        <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="2" data-from="48" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>bicyclettes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: COUNTERS -->






{% endblock %}



{% block javascripts %}
{% endblock %}

